{% extends "layout.html" %} {% block content %} {% if CanAddUser %}
<h2>Benutzer hinzufügen</h2>
<section>
  <form class="" action="/user/add" method="post" style="margin-bottom: 2rem">
    <fieldset>
      <label for="username" class=""> Username </label>
      <input type="text" id="username" name="username" />
      <label for="password" class=""> Passwort </label>
      <input type="password" id="password" name="password" />
      <legend>Wähle die Rollen für den Benutzer</legend>

      {% for role in roles %}
      <div class="checkbox">
        <input
          type="checkbox"
          id="{{role.role_id}}"
          name="role"
          value="{{role.role_id}}"
        />
        <label for="role">{{role.role_name}}</label>
      </div>
      {% endfor %}
      <button type="submit">User hinzufügen</button>
    </fieldset>

    <a class="button" href="/admin">Zurück</a>
  </form>
</section>
{% endif %} {% endblock %}
