{% extends "layout.html" %} {% block content %}
<h1 class="visually-hidden">Login</h1>

<section>
  <form action="/admin-login" method="POST" class="header-teaser-element">
    <fieldset>
      <input type="hidden" name="_csrf" value="{{ csrf }}" />
      <div>
        <label for="name">Benutzername</label>
        <input name="username" id="username" type="text" placeholder=" " />
      </div>
      <div>
        <label for="password">Passwort</label>
        <input name="password" id="password" type="password" placeholder=" " />
      </div>
    </fieldset>
    <button type="submit">Einloggen</button>
  </form>
</section>
{% endblock %}
