{% extends "layout.html" %} {% block content %}
<h1 class="visually-hidden">Dokumentation</h1>

<div class="doku-wrapper">
  <p>Fiete Scheel, fisc4884, 710506 | Mattis Schröder, masc3346, 710385</p>
  <h2>Das Unternehmen und Ziel der Seite</h2>
  <p>
    „fotofiete” ist ein Kleingewerbe von Fiete Scheel, welches im Bereich
    Sportfotografie unterwegs ist
  </p>
  <p>
    Dabei konzentriert sich der Schwerpunkt hauptsächlich auf Pferde- und
    Motocrossfotografie. Das Kleingewerbe wurde 2017 gegründet und hat bisher
    sich und seine Fotos auf Social-Media-Kanälen präsentiert und vertrieben.
  </p>
  <p>
    Die ursprünglichen Aufgaben der Site werden aus Frontend Design übernommen.
    Zusätzlich hat die Site folgende Aufgaben:
  </p>
  <h3>Aufgaben der Site</h3>
  <p>
    Die ursprünglichen Aufgaben der Site werden aus Frontend Design übernommen.
    Zusätzlich hat die Site folgende Aufgaben:
  </p>
  <h4>Verkauf von Bildern:</h4>
  <p>
    Die Site vereinfacht den bisher nur einzeln abgewickelten Verkauf von
    Bildern. So sollen Kunden sich selbst Bilder aussuchen und diese kaufen
    können.
  </p>
  <h4>Kaufabwicklung:</h4>
  <p>
    Kunden können sich Bilder aussuchen und diese direkt über die Site kaufen.
  </p>
  <h4>Verwaltung der Inhalte:</h4>
  <p>
    Die User können per Login Inhalte der Site verändern, löschen oder
    hinzufügen können. Mit verschiedenen Rechten und Rollen kann man bestimmen
    welcher User was verändern kann.
  </p>
  <h4>Speicherung der Inhalte:</h4>
  <p>
    Die erstellten und veränderten Daten (Preisbundles, Alben, Nutzer etc.)
    werden in einer Datenbank gespeichert und werden über diese auch wieder
    abgerufen.
  </p>
  <h4>Verwaltung der User:</h4>
  <p>
    Der Admin kann per Login User der Site bearbeiten, löschen oder hinzufügen.
    Dazu gehört auch den Usern Rollen und Rechte zu vergeben. Der Admin oder der
    User mit den entsprechenden Rechten kann Rollen erstellen, verändern und
    löschen.
  </p>
  <h2>Aufbau der Anwendung</h2>
  <h3>test</h3>
  <p></p>
  <p></p>
  <p></p>
  <p></p>
  <p></p>
  <p></p>
  <p></p>
  <p></p>
  <p></p>
  <p></p>
  <p></p>
  <p></p>
  <p></p>
  <p></p>
  <p></p>
  <p></p>
  <p></p>
  <p></p>
  <p></p>
  <p></p>
  <p></p>
  <p></p>
  <p></p>
  <p></p>
  <p></p>
  <p></p>

  <h2>Code</h2>
  <pre>
        <code>
        export const validateUsername = (username) => {
            const re = /(?=^.{4,}$)(?=^.*[a-zA-Z]$)/;
            return re.test(username);
        };
        </code>
    </pre>
  <h2>Quellen</h2>
  <ul>
    <li></li>
  </ul>
</div>
{% endblock %}
