{% extends "layout.html" %} {% block content %}
<h1 class="visually-hidden">Detailseite Fotos</h1>
{% for category in album_categories %}
<section id="{{category.category_name}}">
  <h2>{{category.category_name}}</h2>
  <div class="album-container">
    {% for album in albums %} {% if album.category_name ==
    category.category_name %}

    <figure class="album big-link-parent img-container">
      {% if CanRemoveAlbum %}

      <a href="/album/remove/{{album.album_id}}" class="delete-btn">
        <span class="material-symbols-outlined">close</span>
      </a>

      {% endif %}

      <img
        class="album-img"
        src="/img/mx/2020-08-09_tensfeld_reduziert/199A8546.jpg"
        alt="2020-08-09 Tensfeld"
      />
      <figcaption>
        <a href="/fotos/{{album.album_id}}" class="album-text big-link">
          {{album.album_title}}
        </a>
      </figcaption>
    </figure>
    {% endif %} {% endfor %} {% if CanAddAlbum %}

    <form class="" action="/album/add" method="post">
      <fieldset>
        <input type="hidden" name="_csrf" value="{{ csrf }}" />

        {% if formErrors.title %}
        <div class="error-message">{{formErrors.title}}</div>
        {% endif %}
        <label for="title" class=""> Titel </label>
        <input
          value="{{formData.album_title}}"
          type="text"
          id="album_title"
          name="album_title"
        />
        <label for="category" class=""> Kategorie </label>
        <select id="category" name="category" size="1">
          <option value="{{category.category_name}}">
            {{category.category_name}}
          </option>
        </select>
        <button type="submit">Album anlegen</button>
      </fieldset>
    </form>
  </div>
  {% endif %}
</section>
{% endfor %} {% endblock %}
