{% extends "layout.html" %}

{% block content %}
    <h1 class="visually-hidden">Startseite</h1>
    <div class="grid-container header-teaser">
      <img src="img/mx/2020-09-03_tensfeld_reduziert/199A9394_1280x1280.jpg" alt="Reesdorf Bild 1"
        class="header-img header-teaser-element">
      <article class="portfolio-container big-link-parent  header-teaser-element">
        <h2 class="visually-hidden">Portfolio</h2>
        <img class="portfolio-img" src="img/ff_portrait_blue.jpg" alt="Fiete Portrait">
        <div class="info-container">
          <p class="teaser-text">
            <span class="teaser-header">Moin,</span>
            ich bin Fiete. Erfahre mehr über mich auf der Seite „Über mich“ oder
            schaue Dir meine Leistungen an. Du kannst auch gerne durch mein
            Portfolio stöbern.
          </p>
          <a href="ueber-mich.html" class="big-link">
            <img src="img/Pfeil.svg" class="arrow" alt="Pfeil">
          </a>
        </div>
      </article>
    </div>
    <section class="grid-container two">
      <div class="teaser-text">
        <h2>Vorschaubilder</h2>
        <p>
          Du bist auf der Suche nach deinen Bildern? Stöbere in der Gallerie um
          dein Foto zu finden. Entdecke Fotos in verschiedenen Kategorien, wie
          z.B. Pferde oder Motocross.
        </p>
        <p>
          Klicke einfach auf eines der Angebote oder
          <a href="detailseite_produkte.html">hier</a>, um dir alle Angebote
          anzusehen.
        </p>
      </div>
      <article class="product big-link-parent img-container">
        <img src="img/mx/2023-05-10_gnutz_reduziert/199A9988.jpg" width="500" alt="motocross">
        <div class="img-container-text">
          <h3>
            <a href="detailseite_fotos.html#mx" class="big-link">Motocross</a>
          </h3>
          <p>
            Suchst du nach Motocross-Bildern? Dann schaue in der Kategorie
            "Motocross" nach ob das passende Foto dabei ist.
          </p>
        </div>
      </article>
      <article class="product big-link-parent img-container">
        <img src="img/horse/2019-10-12_baevershof_reduziert/199A3183.jpg" width="500" alt="pferde">
        <div class="img-container-text">
          <h3>
            <a href="detailseite_fotos.html#horse" class="big-link">Pferde</a>
          </h3>
          <p>
            Suchst du nach Pferde-Bildern? Dann schaue in der Kategorie
            "Pferde" nach ob das passende Foto dabei ist.
          </p>
        </div>
      </article>
    </section>
    <section class="grid-container products">
      <div class="teaser-text">
        <h2>Produkte</h2>
        <p>
          Du möchtest Fotos kaufen? Ich habe tolle Angebote für dich. Von der
          Bildbearbeitung bis hin zu verschiedenen Foto-Bundles, bei denen du
          sparen kannst.
        </p>
        <p>
          Klicke einfach auf eines der Angebote oder
          <a href="detailseite_produkte.html">hier</a>, um dir alle Angebote
          anzusehen.
        </p>
      </div>
      <article class="product big-link-parent">
        <div class="product-text">
          <h3>
            <a href="detailseite_produkte.html#einzelpreis" class="big-link">Einzelbild</a>
          </h3>
          <p>
            Das Einzelbild ist ein Bild deiner Wahl. Es ist direkt aus der
            Kamera und du bekommst ein JPEG in guter Qualität.
          </p>
        </div>
        <p class="price">
          <span class="price-old">8,-</span>
          7,-
          <span class="price-info">pro Bild</span>
        </p>
      </article>
      <article class="product big-link-parent">
        <div class="product-text">
          <h3>
            <a href="detailseite_produkte.html#bildbearbeitung" class="big-link">Bildbearbeitung</a>
          </h3>
          <p>
            Zusätzlich zu jedem Bild kannst du die Bildbearbeitung dazubuchen.
            Bei der Bildbearbeitung setze ich mich an das Bild und bearbeite es
            professionell.
          </p>
        </div>

        <p class="price">2,- <span class="price-info">pro Bild</span></p>
      </article>
      <article class="product bundle big-link-parent">
        <h3>
          <a href="detailseite_produkte.html#bundle-02" class="big-link">5er-Bundle</a>
        </h3>
        <p>Darf's etwas mehr sein?</p>
        <p class="price">30,- <span class="price-info">pro Bundle</span></p>
        <div class="quad-container">
          <div class="quad"><img src="img/mx/2020-08-09_tensfeld_reduziert/199A0010.jpg" alt="2020-08-09 Tensfeld 01">
          </div>
          <div class="quad"><img src="img/mx/2020-08-09_tensfeld_reduziert/199A6784.jpg" alt="2020-08-09 Tensfeld 02">
          </div>
          <div class="quad"><img src="img/mx/2020-08-09_tensfeld_reduziert/199A8219-2.jpg" alt="2020-08-09 Tensfeld 03">
          </div>
          <div class="quad"><img src="img/mx/2020-08-09_tensfeld_reduziert/199A8357-2.jpg" alt="2020-08-09 Tensfeld 04">
          </div>
          <div class="quad"><img src="img/mx/2020-08-09_tensfeld_reduziert/199A8540.jpg" alt="2020-08-09 Tensfeld 05">
          </div>
        </div>
        <p class="text-info">5 Bilder inklusive</p>
      </article>
    </section>
{% endblock %}