{% extends "layout.html" %} {% block content %}
<h1 class="visually-hidden">Kontakt</h1>

<section>
  <h2>Kontaktiere mich</h2>
  <div class="grid-container header-teaser">
    <form action="/addMessage" method="POST" class="header-teaser-element">
      <fieldset>
        <input type="hidden" name="_csrf" value="{{ csrf }}" />

        <div>
          {% if formErrors.name %}
          <div class="error-message">{{formErrors.name}}</div>
          {% endif %}
          <label for="name">Name</label>
          <input
            name="name"
            value="{{formData.name}}"
            id="name"
            type="text"
            placeholder=" "
          />
        </div>
        <div>
          {% if formErrors.email %}
          <div class="error-message">{{formErrors.email}}</div>
          {% endif %}
          <label for="email">E-Mail</label>
          <input
            name="email"
            value="{{formData.email}}"
            id="email"
            type="text"
            placeholder=" "
          />
        </div>
        <div>
          {% if formErrors.subject %}
          <div class="error-message">{{formErrors.subject}}</div>
          {% endif %}
          <label for="subject">Betreff</label>
          <input
            name="subject"
            value="{{formData.subject}}"
            id="subject"
            type="text"
            placeholder=" "
          />
        </div>
        <div>
          {% if formErrors.message %}
          <div class="error-message">{{formErrors.message}}</div>
          {% endif %}
          <label for="nachricht">Nachricht</label>
          <textarea name="message" id="message" rows="5" cols="80">
{{formData.message}}</textarea
          >
        </div>
      </fieldset>
      <button type="submit">Anfrage senden</button>
    </form>
    <img
      src="img/mx/2023-05-10_gnutz_reduziert/199A9954.jpg"
      alt="Kontakt Bild"
      class="header-teaser-element grid-img"
    />
  </div>
</section>
<section>
  <h2>Kontaktdaten</h2>
  <article class="kontaktdaten">
    <h3>Per Telefon</h3>
    <p><strong>(Montag bis Freitag, 8-18 Uhr)</strong></p>
    <p><a href="tel:015151752893">0151-51 75 28 93</a></p>
    <h3>Vor Ort</h3>
    <p><strong>(Montag bis Freitag, 8-18 Uhr)</strong></p>
    <p>
      Birkenweg 1a <br />
      24107 Quarnbek <br />
      Deutschland
    </p>
  </article>
</section>
{% endblock %}
