<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />
    <title>Startseite</title>
  </head>

  <body>
    <a
      href="#main-content
  "
      class="sr-only focusable"
    >
      Direkt zum Inhalt</a
    >
    <header class="site-header">
      <!-- LOGO -->
      <a href="/"
        ><img src="/img/fotofiete.svg" alt="fotofiete Logo" class="logo"
      /></a>
      <button>
        <svg
          width="16px"
          height="16px"
          viewBox="0 0 16 16"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <rect width="16" height="16" fill="none" />
          <path
            d="M1,9h14V7H1V9z M1,14h14v-2H1V14z M1,2v2h14V2H1z"
            fill="currentcolor"
          /></svg
        ><span>Menü</span>
      </button>
      <div class="nav-group">
        <nav>
          <h2 class="visually-hidden">Hauptmenü</h2>
          <ul class="menu menu--toplevel">
            <li class="big-link-parent">
              <a href="/fotos" class="big-link">Fotos</a>
            </li>
            <li class="big-link-parent">
              <a href="/products" class="big-link">Preise</a>
            </li>
            <li class="big-link-parent">
              <a href="/ueber-mich" class="big-link">Über mich</a>
            </li>
            <li class="big-link-parent">
              <a href="/kontakt" class="big-link">Kontakt</a>
            </li>
            {% if clientLoggedIn %}
            <li class="big-link-parent">
              <a href="/client-logout" class="big-link">Logout</a>
            </li>
            {% else %}
            <li class="big-link-parent">
              <a href="/client-login" class="big-link">Login</a>
            </li>
            {% endif %} {% if authenticated %}
            <li class="big-link-parent">
              <a href="/admin" class="big-link">
                <span class="material-symbols-outlined"> passkey </span>
              </a>
            </li>
            {% endif %}
            <li class="big-link-parent">
              <a href="/cart" class="big-link cart-link">
                {% if cartAmount > 0 %}
                <span class="cart-amount">{{cartAmount}}</span>
                {% endif %}
                <span class="material-symbols-outlined"> shopping_cart </span>
              </a>
            </li>
          </ul>
          <div class="sm-container">
            <a href="https://www.instagram.com/mx.fotofiete/">
              <svg
                class="sm-icon"
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px"
                y="0px"
                viewBox="0 0 56.7 56.7"
                enable-background="new 0 0 56.7 56.7"
                xml:space="preserve"
              >
                <g>
                  <path
                    d="M28.2,16.7c-7,0-12.8,5.7-12.8,12.8s5.7,12.8,12.8,12.8S41,36.5,41,29.5S35.2,16.7,28.2,16.7z M28.2,37.7
          		c-4.5,0-8.2-3.7-8.2-8.2s3.7-8.2,8.2-8.2s8.2,3.7,8.2,8.2S32.7,37.7,28.2,37.7z"
                  />
                  <circle cx="41.5" cy="16.4" r="2.9" />
                  <path
                    d="M49,8.9c-2.6-2.7-6.3-4.1-10.5-4.1H17.9c-8.7,0-14.5,5.8-14.5,14.5v20.5c0,4.3,1.4,8,4.2,10.7c2.7,2.6,6.3,3.9,10.4,3.9
          		h20.4c4.3,0,7.9-1.4,10.5-3.9c2.7-2.6,4.1-6.3,4.1-10.6V19.3C53,15.1,51.6,11.5,49,8.9z M48.6,39.9c0,3.1-1.1,5.6-2.9,7.3
          		s-4.3,2.6-7.3,2.6H18c-3,0-5.5-0.9-7.3-2.6C8.9,45.4,8,42.9,8,39.8V19.3c0-3,0.9-5.5,2.7-7.3c1.7-1.7,4.3-2.6,7.3-2.6h20.6
          		c3,0,5.5,0.9,7.3,2.7c1.7,1.8,2.7,4.3,2.7,7.2V39.9L48.6,39.9z"
                  />
                </g>
              </svg>
            </a>
            <a href="https://www.facebook.com/fotofiete/">
              <svg
                class="sm-icon"
                enable-background="new 0 0 56.693 56.693"
                version="1.1"
                viewBox="0 0 56.693 56.693"
                xml:space="preserve"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
              >
                <path
                  d="M40.43,21.739h-7.645v-5.014c0-1.883,1.248-2.322,2.127-2.322c0.877,0,5.395,0,5.395,0V6.125l-7.43-0.029  c-8.248,0-10.125,6.174-10.125,10.125v5.518h-4.77v8.53h4.77c0,10.947,0,24.137,0,24.137h10.033c0,0,0-13.32,0-24.137h6.77  L40.43,21.739z"
                />
              </svg>
            </a>
          </div>
        </nav>
      </div>
    </header>
    {% if flash %}
    <div class="flash">{{ flash }}</div>
    {% endif %}
    <main id="main-content">{% block content %}{% endblock %}</main>
    <footer>
      <div class="logo-container">
        <a href="/">
          <img src="/img/fotofiete.svg" alt="fotofiete Logo" class="logo" />
        </a>
      </div>
      <div class="column column-01">
        <h3>Kontakt</h3>
        <p>
          fotofiete<br />
          Fiete Scheel<br />
          Birkenweg 1a<br />
          24107 Quarnbek<br />
        </p>
      </div>
      <div class="column column-02">
        <h3>Menü</h3>
        <nav>
          <ul>
            <li>
              <a href="/dokumentation/index.html">Dokumentation</a>
            </li>
            <li>
              <a href="/kollophon.html">Kollophon</a>
            </li>
            <li>
              <a href="/html-pur/index.html">HTML pur</a>
            </li>
            <li>
              <a href="/impressum.html">Impressum</a>
            </li>
            <li>
              <a href="/datenschutz.html">Datenschutz</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="column column-03">
        <h3>Social Media</h3>
        <p>
          Bleibe auf dem neuesten Stand und folge meinen Social-Media Profilen.
        </p>
        <a href="https://www.instagram.com/mx.fotofiete/">
          <svg
            class="sm-icon"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            viewBox="0 0 56.7 56.7"
            enable-background="new 0 0 56.7 56.7"
            xml:space="preserve"
          >
            <g>
              <path
                d="M28.2,16.7c-7,0-12.8,5.7-12.8,12.8s5.7,12.8,12.8,12.8S41,36.5,41,29.5S35.2,16.7,28.2,16.7z M28.2,37.7
                              		c-4.5,0-8.2-3.7-8.2-8.2s3.7-8.2,8.2-8.2s8.2,3.7,8.2,8.2S32.7,37.7,28.2,37.7z"
              />
              <circle cx="41.5" cy="16.4" r="2.9" />
              <path
                d="M49,8.9c-2.6-2.7-6.3-4.1-10.5-4.1H17.9c-8.7,0-14.5,5.8-14.5,14.5v20.5c0,4.3,1.4,8,4.2,10.7c2.7,2.6,6.3,3.9,10.4,3.9
                              		h20.4c4.3,0,7.9-1.4,10.5-3.9c2.7-2.6,4.1-6.3,4.1-10.6V19.3C53,15.1,51.6,11.5,49,8.9z M48.6,39.9c0,3.1-1.1,5.6-2.9,7.3
                              		s-4.3,2.6-7.3,2.6H18c-3,0-5.5-0.9-7.3-2.6C8.9,45.4,8,42.9,8,39.8V19.3c0-3,0.9-5.5,2.7-7.3c1.7-1.7,4.3-2.6,7.3-2.6h20.6
                              		c3,0,5.5,0.9,7.3,2.7c1.7,1.8,2.7,4.3,2.7,7.2V39.9L48.6,39.9z"
              />
            </g>
          </svg>
        </a>
        <a href="https://www.facebook.com/fotofiete/">
          <svg
            class="sm-icon"
            enable-background="new 0 0 56.693 56.693"
            version="1.1"
            viewBox="0 0 56.693 56.693"
            xml:space="preserve"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
          >
            <path
              d="M40.43,21.739h-7.645v-5.014c0-1.883,1.248-2.322,2.127-2.322c0.877,0,5.395,0,5.395,0V6.125l-7.43-0.029  c-8.248,0-10.125,6.174-10.125,10.125v5.518h-4.77v8.53h4.77c0,10.947,0,24.137,0,24.137h10.033c0,0,0-13.32,0-24.137h6.77  L40.43,21.739z"
            />
          </svg>
        </a>
      </div>
    </footer>
    <script type="module">
      import * as menu from "/js/menu-fd2023.js";
      menu.init();
    </script>
  </body>
</html>
