{% extends "layout.html" %} {% block content %}

<h2>Zusammenfassung</h2>

{{ client.client_id}} {{ client.name}} {{ client.email}} {% if cart %}

<ul>
  {% for image in cart.images %}
  <li>
    <div>
      <div>
        <h3>{{product.product_name}}: {{image.image_id}}</h3>
        <p>{{product.product_text}}</p>
      </div>
      <p>
        {{product.product_price}}€
        <span> (Einzelpreis ohne Bundle)</span>
      </p>
    </div>
  </li>
  {% endfor %}
</ul>

<div class="order-container">
  <h4>Verwendete Bundles:</h4>

  <ul>
    {% for bundle in cart.bundlesUsed %}
    <li>{{bundle.product_name}}</li>
    {% endfor %}
  </ul>
  <h4>Gesamtpreis:</h4>
  <p class="total-price">
    {% if cart.bundlesUsed.length > 0 %}
    <span class="price price-old">{{cart.totalPrice}}€</span>
    {% endif %}
    <span class="price">{{cart.totalPriceWithBundles}}€</span>
  </p>

  <form action="/order" method="POST">
    <input type="hidden" name="_csrf" value="{{ csrf }}" />

    <button type="submit">Bestellen</button>
  </form>
</div>

{% else %} Der Warenkorb ist leer {% endif %} {% endblock %}
