{% extends "layout.html" %}

{% block content %}
    <h1 class="visually-hidden">Detailseite Produkte</h1>

    <section class="grid-container products two">
      <div class="teaser-text">
        <h2>Einzelpreise</h2>
        <p>
          Du weißt genau, welches Bild du haben möchtest? Dann nutze doch einfach die Einzelbild-Option.
        </p>
      </div>
      {% for item in products %}
      <article class="product" id="einzelpreis">
        <div class="product-text">
          <h3>{{item.name}}</h3>
          <p>
            {{item.text}}
          </p>
        </div>
          <p class="price">{{item.price}},- <span class="price-info">{{item.priceDes}}</span></p>
      </article>
      {% endfor %}
      

    </section>

    <section class="grid-container products">
      <div class="teaser-text">
        <h2>Bundles</h2>
        <p>
          Du möchtest mehrere Fotos und dabei noch sparen? Dann sind die Bundles genau das Richtige für dich.
        </p>
      </div>
      {% for item in bundles %}
      <article class="product bundle" id="bundle-01">
        <h3>{{item.name}}</h3>
        <p>{{item.text}}</p>
        <p class="price">{{item.price}},- <span class="price-info">pro Bundle</span></p>
        <div class="quad-container">
          {% for item in range(0, item.bundleAmount) %}
          <div class="quad"><img src="img/mx/2020-08-09_tensfeld_reduziert/199A0010.jpg" alt=""></div>
          {% endfor %}
        </div>
        <p class="text-info">{{item.bundleDes}}</p>
      </article>
      {% endfor %}
      
    </section>

{% endblock %}