<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <title>Detailseite Produkte</title>
</head>

<body>
  <a href="#main-content
        " class="sr-only focusable">
    Direkt zum Inhalt</a>
  <header class="site-header">
    <!-- LOGO -->
    <a href="index.html"><img src="img/fotofiete.svg" alt="fotofiete Logo" class="logo"></a>
    <button>
      <svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink">
        <rect width="16" height="16" fill="none" />
        <path d="M1,9h14V7H1V9z M1,14h14v-2H1V14z M1,2v2h14V2H1z" fill="currentcolor" />
      </svg><span>Menü</span>
    </button>
    <div class="nav-group">
      <nav>
        <h2 class="visually-hidden">Hauptmenü</h2>
        <ul class="menu menu--toplevel">
          <li class="big-link-parent">
            <a href="detailseite_fotos.html" class="big-link">Gallerie</a>
          </li>
          <li class="big-link-parent active">
            <a href="detailseite_produkte.html" class="big-link">Preise</a>
          </li>
          <li class="big-link-parent">
            <a href="ueber-mich.html" class="big-link">Über mich</a>
          </li>
          <li class="big-link-parent">
            <a href="kontakt.html" class="big-link">Kontakt</a>
          </li>
        </ul>
        <div class="sm-container">
          <a href="https://www.instagram.com/mx.fotofiete/">
            <svg class="sm-icon" version="1.1" xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 56.7 56.7"
              enable-background="new 0 0 56.7 56.7" xml:space="preserve">
              <g>
                <path d="M28.2,16.7c-7,0-12.8,5.7-12.8,12.8s5.7,12.8,12.8,12.8S41,36.5,41,29.5S35.2,16.7,28.2,16.7z M28.2,37.7
            		c-4.5,0-8.2-3.7-8.2-8.2s3.7-8.2,8.2-8.2s8.2,3.7,8.2,8.2S32.7,37.7,28.2,37.7z" />
                <circle cx="41.5" cy="16.4" r="2.9" />
                <path d="M49,8.9c-2.6-2.7-6.3-4.1-10.5-4.1H17.9c-8.7,0-14.5,5.8-14.5,14.5v20.5c0,4.3,1.4,8,4.2,10.7c2.7,2.6,6.3,3.9,10.4,3.9
            		h20.4c4.3,0,7.9-1.4,10.5-3.9c2.7-2.6,4.1-6.3,4.1-10.6V19.3C53,15.1,51.6,11.5,49,8.9z M48.6,39.9c0,3.1-1.1,5.6-2.9,7.3
            		s-4.3,2.6-7.3,2.6H18c-3,0-5.5-0.9-7.3-2.6C8.9,45.4,8,42.9,8,39.8V19.3c0-3,0.9-5.5,2.7-7.3c1.7-1.7,4.3-2.6,7.3-2.6h20.6
            		c3,0,5.5,0.9,7.3,2.7c1.7,1.8,2.7,4.3,2.7,7.2V39.9L48.6,39.9z" />
              </g>
            </svg>
          </a>
          <a href="https://www.facebook.com/fotofiete/">
            <svg class="sm-icon" enable-background="new 0 0 56.693 56.693" version="1.1" viewBox="0 0 56.693 56.693"
              xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <path
                d="M40.43,21.739h-7.645v-5.014c0-1.883,1.248-2.322,2.127-2.322c0.877,0,5.395,0,5.395,0V6.125l-7.43-0.029  c-8.248,0-10.125,6.174-10.125,10.125v5.518h-4.77v8.53h4.77c0,10.947,0,24.137,0,24.137h10.033c0,0,0-13.32,0-24.137h6.77  L40.43,21.739z" />
            </svg>
          </a>
        </div>
      </nav>

    </div>
  </header>
  <main id="main-content">
    <h1 class="visually-hidden">Detailseite Produkte</h1>
    <section class="grid-container products two">
      <div class="teaser-text">
        <h2>Einzelpreise</h2>
        <p>
          Du weißt genau, welches Bild du haben möchtest? Dann nutze doch einfach die Einzelbild-Option.
        </p>
      </div>
      <article class="product" id="einzelpreis">
        <div class="product-text">
          <h3>Einzelbild</h3>
          <p>
            Das Einzelbild ist ein Bild deiner Wahl. Es ist direkt aus der
            Kamera und du bekommst ein JPEG in guter Qualität.
          </p>
        </div>
        <p class="price">
          <span class="price-old">8,-</span>
          7,-
          <span class="price-info">pro Bild</span>
        </p>
      </article>
      <article class="product" id="bildbearbeitung">
        <div class="product-text">
          <h3>Bildbearbeitung</h3>
          <p>
            Zusätzlich zu jedem Bild kannst du die Bildbearbeitung dazubuchen.
            Bei der Bildbearbeitung setze ich mich an das Bild und bearbeite es
            professionell.
          </p>
        </div>

        <p class="price">2,- <span class="price-info">pro Bild</span></p>
      </article>

    </section>

    <section class="grid-container products">
      <div class="teaser-text">
        <h2>Bundles</h2>
        <p>
          Du möchtest mehrere Fotos und dabei noch sparen? Dann sind die Bundles genau das Richtige für dich.
        </p>
      </div>
      <article class="product bundle" id="bundle-01">
        <h3>3er-Bundle</h3>
        <p>Für den Sparfuchs</p>
        <p class="price">20,- <span class="price-info">pro Bundle</span></p>
        <div class="quad-container">
          <div class="quad"><img src="img/mx/2020-08-09_tensfeld_reduziert/199A0010.jpg" alt=""></div>
          <div class="quad"><img src="img/mx/2020-08-09_tensfeld_reduziert/199A6784.jpg" alt=""></div>
          <div class="quad"><img src="img/mx/2020-08-09_tensfeld_reduziert/199A8219-2.jpg" alt=""></div>
        </div>
        <p class="text-info">3 Bilder inklusive</p>
      </article>
      <article class="product bundle" id="bundle-02">
        <h3>5er-Bundle</h3>
        <p>Darf's etwas mehr sein?</p>
        <p class="price">30,- <span class="price-info">pro Bundle</span></p>
        <div class="quad-container">
          <div class="quad"><img src="img/mx/2020-08-09_tensfeld_reduziert/199A0010.jpg" alt=""></div>
          <div class="quad"><img src="img/mx/2020-08-09_tensfeld_reduziert/199A6784.jpg" alt=""></div>
          <div class="quad"><img src="img/mx/2020-08-09_tensfeld_reduziert/199A8219-2.jpg" alt=""></div>
          <div class="quad"><img src="img/mx/2020-08-09_tensfeld_reduziert/199A8357-2.jpg" alt=""></div>
          <div class="quad"><img src="img/mx/2020-08-09_tensfeld_reduziert/199A8540.jpg" alt=""></div>
        </div>
        <p class="text-info">5 Bilder inklusive</p>
      </article>
      <article class="product bundle" id="bundle-03">
        <h3>10er-Bundle</h3>
        <p>Für alle Fälle</p>
        <p class="price">55,- <span class="price-info">pro Bundle</span></p>
        <div class="quad-container">
          <div class="quad"><img src="img/mx/2020-08-09_tensfeld_reduziert/199A0010.jpg" alt=""></div>
          <div class="quad"><img src="img/mx/2020-08-09_tensfeld_reduziert/199A6784.jpg" alt=""></div>
          <div class="quad"><img src="img/mx/2020-08-09_tensfeld_reduziert/199A8219-2.jpg" alt=""></div>
          <div class="quad"><img src="img/mx/2020-08-09_tensfeld_reduziert/199A8357-2.jpg" alt=""></div>
          <div class="quad"><img src="img/mx/2020-08-09_tensfeld_reduziert/199A8540.jpg" alt=""></div>
          <div class="quad"><img src="img/mx/2020-08-09_tensfeld_reduziert/199A8546.jpg" alt=""></div>
          <div class="quad"><img src="img/mx/2020-08-09_tensfeld_reduziert/199A8578-2.jpg" alt=""></div>
          <div class="quad"><img src="img/mx/2020-08-09_tensfeld_reduziert/199A8585-2.jpg" alt=""></div>
          <div class="quad"><img src="img/mx/2020-08-09_tensfeld_reduziert/199A8786.jpg" alt=""></div>
          <div class="quad"><img src="img/mx/2020-08-09_tensfeld_reduziert/199A8540.jpg" alt=""></div>
        </div>
        <p class="text-info">10 Bilder inklusive</p>
      </article>
    </section>

  </main>
  <footer>
    <div class="logo-container">
      <a href="index.html">
        <img src="img/fotofiete.svg" alt="fotofiete Logo" class="logo">
      </a>
    </div>
    <div class="column column-01">
      <h3>Kontakt</h3>
      <p>
        fotofiete<br>
        Fiete Scheel<br>
        Birkenweg 1a<br>
        24107 Quarnbek<br>
      </p>
    </div>
    <div class="column column-02">
      <h3>Menü</h3>
      <nav>
        <ul>
          <li>
            <a href="dokumentation/index.html">Dokumentation</a>
          </li>
          <li>
            <a href="kollophon.html">Kollophon</a>
          </li>
          <li>
            <a href="html-pur/index.html">HTML pur</a>
          </li>
          <li>
            <a href="impressum.html">Impressum</a>
          </li>
          <li>
            <a href="datenschutz.html">Datenschutz</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="column column-03">
      <h3>Social Media</h3>
      <p>
        Bleibe auf dem neuesten Stand und folge meinen Social-Media Profilen.
      </p>
      <a href="https://www.instagram.com/mx.fotofiete/">
        <svg class="sm-icon" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px" y="0px" viewBox="0 0 56.7 56.7" enable-background="new 0 0 56.7 56.7" xml:space="preserve">
          <g>
            <path d="M28.2,16.7c-7,0-12.8,5.7-12.8,12.8s5.7,12.8,12.8,12.8S41,36.5,41,29.5S35.2,16.7,28.2,16.7z M28.2,37.7
                              		c-4.5,0-8.2-3.7-8.2-8.2s3.7-8.2,8.2-8.2s8.2,3.7,8.2,8.2S32.7,37.7,28.2,37.7z" />
            <circle cx="41.5" cy="16.4" r="2.9" />
            <path d="M49,8.9c-2.6-2.7-6.3-4.1-10.5-4.1H17.9c-8.7,0-14.5,5.8-14.5,14.5v20.5c0,4.3,1.4,8,4.2,10.7c2.7,2.6,6.3,3.9,10.4,3.9
                              		h20.4c4.3,0,7.9-1.4,10.5-3.9c2.7-2.6,4.1-6.3,4.1-10.6V19.3C53,15.1,51.6,11.5,49,8.9z M48.6,39.9c0,3.1-1.1,5.6-2.9,7.3
                              		s-4.3,2.6-7.3,2.6H18c-3,0-5.5-0.9-7.3-2.6C8.9,45.4,8,42.9,8,39.8V19.3c0-3,0.9-5.5,2.7-7.3c1.7-1.7,4.3-2.6,7.3-2.6h20.6
                              		c3,0,5.5,0.9,7.3,2.7c1.7,1.8,2.7,4.3,2.7,7.2V39.9L48.6,39.9z" />
          </g>
        </svg>
      </a>
      <a href="https://www.facebook.com/fotofiete/">
        <svg class="sm-icon" enable-background="new 0 0 56.693 56.693" version="1.1" viewBox="0 0 56.693 56.693"
          xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <path
            d="M40.43,21.739h-7.645v-5.014c0-1.883,1.248-2.322,2.127-2.322c0.877,0,5.395,0,5.395,0V6.125l-7.43-0.029  c-8.248,0-10.125,6.174-10.125,10.125v5.518h-4.77v8.53h4.77c0,10.947,0,24.137,0,24.137h10.033c0,0,0-13.32,0-24.137h6.77  L40.43,21.739z" />
        </svg>
      </a>
    </div>
  </footer>
  <script type="module">
    import * as menu from "/js/menu-fd2023.js";
    menu.init();
  </script>
</body>

</html>