{% extends "layout.html" %}

{% block content %}
<form action="#" method="POST">
    <label for="title">Name</label>
    <div>
        {% if formErrors.title %}
            <p class="Form-error">{{formErrors.name}}</p>
        {% endif %}
        <input type="text" id="name" name="name" autofocus value="{{formData.title}}">
    </div>

    <label for="text">Text</label>
    <div>
        {% if formErrors.text %}
            <p class="Form-error">{{formErrors.text}}</p>
        {% endif %}
        <textarea id="text" name="text" rows="8" cols="20">{{formData.text}}</textarea>
    </div>

    <label for="price">Preis</label>
    <div>
        {% if formErrors.text %}
            <p class="Form-error">{{formErrors.text}}</p>
        {% endif %}
        <input type="number" id="price" name="price" rows="8" cols="20">{{formData.price}}</input>
    </div>

    <label for="text">priceDes</label>
    <div>
        {% if formErrors.text %}
            <p class="Form-error">{{formErrors.priceDes}}</p>
        {% endif %}
        <textarea id="priceDes" name="priceDes" rows="8" cols="20">{{formData.priceDes}}</textarea>
    </div>
    
    <div>
    <label for="bundles">Bundle</label>
    <input type="checkbox" name="bundles" id="bundles">
   

    <div class="bundle-options">

    <label for="text">bundleAmount</label>
    <div>
        {% if formErrors.bundleAmount %}
            <p class="Form-error">{{formErrors.bundleAmount}}</p>
        {% endif %}
        <input type="number" id="bundleAmount" name="bundleAmount" rows="8" cols="20">{{formData.bundleAmount}}</input>
    </div>
</div>
</div>
    <button type="submit">Speichern</button>
  
  </form>
{% endblock %}