{% extends "layout.html" %} {% block content %} {% if CanRemoveRole %}
<h2>Wirklich löschen?</h2>
<section class="grid-container products two">
  <div class="">
    <p>{{role_name}}</p>

    <form
      class=""
      action="/role/remove/{{role_id}}"
      method="post"
      style="margin-bottom: 2rem"
    >
      <input type="hidden" name="_csrf" value="{{ csrf }}" />

      <button type="submit">Löschen</button>
      <a class="button" href="/admin">Zurück</a>
    </form>
  </div>
</section>

{% endif %} {% endblock %}
