{% extends "layout.html" %} {% block content %} {% if role_id %}
<h2>{{role_name}} bearbeiten</h2>
{% else %}
<h2>User hinzufügen</h2>
{% endif %}
<section>
  <form
    class=""
    {%
    if
    role_id
    %}
    action="/role/edit/{{role_id}}"
    {%
    else
    %}
    action="/role/add"
    {%
    endif
    %}
    method="post"
    style="margin-bottom: 2rem"
  >
    <fieldset>
      <input type="hidden" name="_csrf" value="{{ csrf }}" />

      {% if formErrors.role_name %}
      <div class="error-message">{{formErrors.role_name}}</div>
      {% endif %}
      <label for="role_name" class=""> Username </label>
      <input
        type="text"
        id="role-name"
        name="role_name"
        value="{{role_name}}"
      />
      {% for permission in permissions %}
      <div class="checkbox">
        <input type="checkbox" id="{{permission.permission_id}}"
        name="permission" value="{{permission.permission_id}}" {% for
        permissionToRole in permissionsToRole %} {% if permission.permission_id
        == permissionToRole.permission_id %} checked {% endif %} {% endfor %}/>
        <label for="permission">{{permission.permission_name}}</label>
      </div>
      {% else %}
      <div class="checkbox">
        <input
          type="checkbox"
          id="{{permission.permission_id}}"
          name="permission"
          value="{{permission.permission_id}}"
        />
        <label for="permission">{{permission.permission_name}}</label>
      </div>
      {% endfor %}
    </fieldset>
    <button type="submit">Speichern</button>

    <a class="button" href="/admin">Zurück</a>
  </form>
</section>
{% endblock %}
