{% extends "layout.html" %} {% block content %} {% if CanAddRole %}
<h2>Rolle erstellen</h2>
<section>
  <form class="" action="/role/add" method="post" style="margin-bottom: 2rem">
    <fieldset>
      <input type="hidden" name="_csrf" value="{{ csrf }}" />

      <label for="username" class=""> Username </label>
      <input
        type="text"
        id="role-name"
        name="role_name"
        value="{{role_name}}"
      />
      {% for permission in permissions %}
      <div class="checkbox">
        <input
          type="checkbox"
          id="{{permission.permission_id}}"
          name="permission"
          value="{{permission.permission_id}}"
          checked
        />
        <label for="permission">{{permission.permission_name}}</label>
      </div>
      {% endfor %}
    </fieldset>
    <button type="submit">Speichern</button>

    <a class="button" href="/admin">Zurück</a>
  </form>
</section>
{% endif %} {% endblock %}
