{% extends "layout.html" %}

{% block content %}
    <h1 class="visually-hidden">&Uuml;ber mich</h1>



    <section class="grid-container header-teaser">
      <img src="./img/ff_portrait_blue.jpg" alt="Fiete Portrait" class="header-teaser-element">
      <div class="header-teaser-element">
        <h2>Moin, ich bin Fiete</h2>

        <p>

          Ich bin Fiete, 24 Jahre alt, Fotograf, gelernter Mediengestalter und
          aktuell Medieninformatik-Student aus dem wunderschönen
          Norddeutschland. Schön, dass du hier bist und dich für mein Portfolio
          interessierst.
        </p>


      </div>

    </section>


    <section class="grid-container header-teaser">

      <div class="header-teaser-element">
        <h2>Faszination</h2>
        <p>
          Seit ich denken kann, hat mich die Welt der Medien und Fotografie
          fasziniert. Mit meiner Leidenschaft für ästhetisches Design und dem
          Auge für das Besondere, habe ich mein Kleingewerbe "fotofiete" ins
          Leben gerufen. Ich bin stets bestrebt, meine Kunden mit einzigartigen
          und professionellen Fotos zu begeistern.
        </p>
        <h2>Know How</h2>
        <p>
          Als <strong>Mediengestalter und Fotograf</strong> habe ich mich darauf
          spezialisiert, Momente festzuhalten und Geschichten zu erzählen. Da
          ich auf dem Land aufgewachsen bin, sind mir weder Pferde noch
          motorisierte Sportgeräte unbekannt. So habe ich mich auch durch mein
          Hobby Motocross genau darauf spezialisiert. Ob bei Reitturnieren oder
          auf der Strecke - ich setze meine Kreativität ein, um die besten
          Ergebnisse zu erzielen. Jedes Projekt ist für mich eine aufregende
          Herausforderung, bei der ich mein technisches Know-how und mein
          künstlerisches Gespür kombiniere, um einzigartige visuelle Erlebnisse
          zu schaffen.
        </p>
        <p>
          Während meines Studiums der Medieninformatik vertiefe ich mein Wissen
          über digitale Medien und interaktive Lösungen. Dies ermöglicht es mir,
          meine fotografischen Fähigkeiten mit modernen Technologien zu
          kombinieren und innovative Bilder zu erstellen, die sowohl ästhetisch
          ansprechend als auch zeitlos sind.
        </p>
      </div>
      <img src="./img/mx/2021-08-25_reesdorf_reduziert/199A1384.jpg" alt="2021-08-25 Reesdorf"
        class="header-teaser-element grid-img">
    </section>
    <section class="grid-container header-teaser">
      <img src="./img/horse/2021-07-25_romo_reduziert/199A1083.jpg" alt="2021-07-25 Romo"
        class="header-teaser-element grid-img">
      <div class="header-teaser-element">
        <h2>Kunden</h2>
        <p>
          Für mich steht der enge Kontakt zu meinen Kunden an erster Stelle. Ich
          höre aufmerksam zu, um ihre individuellen Bedürfnisse zu verstehen und
          maßgeschneiderte Lösungen anzubieten. Ich glaube fest daran, dass eine
          gute Zusammenarbeit auf Vertrauen und offener Kommunikation basiert.
        </p>
        <p>
          Wenn du also nach einem professionellen und kreativen Partner für dein
          nächstes Projekt suchst, sei es ein Reitturnier,
          Motocrossveranstaltung oder auch eine besondere Angelegenheit für das
          richtige Foto, dann bist du bei fotofiete genau richtig. Lass uns
          gemeinsam Ideen zum Leben erwecken und unvergessliche Momente
          schaffen.
        </p>
        <p>
          Nimm gerne Kontakt mit mir auf, um mehr über meine Dienstleistungen zu
          erfahren oder um ein persönliches Treffen zu vereinbaren. Ich freue
          mich darauf, dich kennenzulernen und gemeinsam etwas Außergewöhnliches
          zu schaffen.
        </p>
        <p>Dein Fiete von <span><img src="./img/fotofiete.svg" alt="fotofiete Logo"></span></p>
      </div>
    </section>

{% endblock %}